:root{
    --body: #A70000;
    --nav: #5E0808;
    --red: #FF0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: var(--body);
}

nav{
    background-color: var(--nav);
    width: 100%;
    min-height: 93px;
    display: flex;
    flex-direction: row;
    margin: 14px auto;
}


.navlist{
    height: 64px;
    width: 1200px;
    margin: 14px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-nav{
    height: 40px;
    max-width: 448px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: auto;
    margin-bottom: auto;
    
}

.right-nav{
    height: 64px;
    display: flex;
    flex-direction: row;
}

.logo{
    width: 160px;
    height: 40px;
    background-color: var(--red);
    margin: auto;
}

.link-nav{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: auto;
}

.link{
    background-color: var(--red);
    width: 56px;
    height: 40px;
}
.avatar{
    background-color: var(--red);
    width: 64px;
    height: 64px;
    border-radius: 40px;

}