*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: #7ADFFF;
}

.container{
    min-height: 946px;
    max-width: 1200px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    margin: 52px auto;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box1{
    background-color: #4F8EEC;
    width: 895px;
    height: 378px;
}

.box2{
    background-color: #0A1E3C;
    width: 895px;
    height: 548px;
}

.box3{
    background-color: #005C79;
    height: 946px;
    width: 285px;
}

@media screen and (width < 1200px ) and (width> 450px) {
    .container{
        margin: 56px auto;
        display: flex;
        flex-direction: row;
        width: 714px;
        height: 1109px;
        gap: 16px;
    }
    .box1{
        width: 440px;
        height: 273px;
    }
    
    .box2{
        width: 440px;
        height: 824px;
    }
    
    .box3{
        height: 1109px;
        width: 258px;
    }
    
}

@media screen and (width < 450px){
    .container{
        margin: 24px auto;
        display: flex;
        flex-direction: column;
        width: 358px;
        height: 932px;
        gap: 16px;
    }

    .box1{
        height: 188px;
        width: 358px;
    }
    
    .box2{
        width: 358px;
        height: 380px;
    }
    
    .box3{
        width: 358px;
        height: 332px;
    }
}